#band {
	background-color: #fff;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#band h2 {
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: 300;
	padding-top: 100px;
}
#band span {
	color: #656565;
	padding: 20px 0;
}
#band p {
	width: 90%;
}
.text-about{
	text-align: center;
}
@media screen and (min-width: 700px) {
	.text-about {
		width: 700px !important;
	}
	#band .container {
		display: flex;
		width: 92% !important;
	}
	#band .container article {
		width: 33,3%;
		padding: 0 2% !important;
	}
}
#band .container {
	padding: 50px 0 !important;
	width: 60%;
}
#band .container span {
	display: block;
	align-self: flex-start
}
.description {
	font-size: 1.4rem !important;
	padding: 20px 0 !important;
}
.name {
	font-size: 1.6rem !important;
	color: black !important;
	padding: 20px 0 !important;
}
#band .container img {
	width: 100%;
}

#band .container article {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 20% 0;
}
#band .container p {
	width: 100%;
}
