.cabecalho-mob {
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: #2c2c2c;
	align-items: flex-start;
	background-size: cover;
	z-index: 999;
	position: fixed;
}
.cabecalho-mob a {
	display: block;
	padding: 16px 26px;
	width: 100%;
	color: #fff;
	text-transform: uppercase;
}
.icone-bars {
	font-size: 1.5rem;
	color: #fff;
	cursor: pointer;
	padding: 16px 26px;
}
.cabecalho-mob li {
	transition: 0.3s;
}
.menu-mobile {
	position: absolute;
	width: 100%;
	top: 100%;
	background: #2c2c2c;
	display: none;
}
.menu-mobile li:hover {
	background-color: #ccc;
	cursor: pointer;
}
.menu-mobile li:hover > a {
	color: #2c2c2c !important;
}
#toggle {
	display: none;
}
#toggle:checked ~ .menu-mobile {
	display: block;
}
@media screen and (max-width: 562px) {
	.cabecalho-top {
		display: none
	}
}
@media screen and (min-width: 562px) {
	.cabecalho-mob {
		display: none;
	}
	.cabecalho-top {
		width: 100%;
		background-color: #2c2c2c;
		position: fixed;
		align-items: center;
		display: flex;
		justify-content: space-around;
	}
	.cabecalho-top h1 {
		color: #fff;
		font-weight: 300;
		font-size: 1.3rem;
	}
	.menu-top ul li {
		float: left;
		list-style: none;
		transition: 0.3s;
	}
	.menu-top li:hover {
		background-color: #ccc;
	}
	.menu-top li:hover > a {
		color: #2c2c2c;
	}
	.menu-top a {
		color: #fff;
		display: block;
		padding: 15px 20px;
		text-transform: uppercase;
	}
	.menu-top li:hover > .submenu {
		display: flex;
		flex-direction: column;
		position: absolute;	
	}

	.submenu {
		display: none;
	}
	.submenu li {
		background-color: #fff;
	}
	.submenu a {
		color: #2c2c2c;
	}
}
