#tour {
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
}
.container-tour h2 {
    color: #fff;
    font-weight: 300;
    font-size: 2rem;
    padding-top: 100px;
    text-align: center;
    text-transform: uppercase;
}
.container-tour {
    width: 90%;
}
/* span of Tor Date */
.sold-out {
    padding: 1% 3% !important;
    display: inline-block !important; 
    margin-left: 5%;
    background-color: #f44336;
    color: #fff !important;
}
.avaliable {
    text-align: center !important;
    background-color: #000;
    border-radius: 50%;
    padding: 0 6px !important;
    color: #fff !important;
    float: right;
    margin-left: 5%;
}
/* --------------------- */
.container-tour span {
    color: #656565;
    padding-top: 2%;
    text-align: center;
    display: block;
}
.container-tour ul {
    padding-top: 10%;
}
.container-tour li {
    display: flex;
    align-items: center;
    padding-left: 5% !important;
    padding: 2%;
    color: #656565;
    border: 1px solid #ccc;
    background-color: #fff;
    list-style: none;
}
.container-tour article {
    margin: 8% 0;
}
.container-tour article img {
    width: 100%;
    background-color: #000;
}
.container-tour article img:hover {
    opacity: 0.60;
}
.content-article {
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 5%;
}
.content-article h3 {
    padding-left: 5%;
    padding-top: 5%;
}
.content-article span {
    float: left;
    padding-left: 5%;
}
.content-article p {
    clear: both;
    padding: 5%;
}
.content-article button {
    border: none;
    margin-left: 5%;
    margin-bottom:5%; 
    color: #fff;
    padding: 3%;
    background-color: #000;
    cursor: pointer;
    transition: 0.3s;
}
.container-tour article button:hover {
    background-color: #ccc;
    color: #000;
}
@media screen and (min-width: 700px) {
   .articles {
        display: flex;
        flex-direction: row;
    }
    .container-tour article {
        padding-right: 2%;
    }
    .last-article {
        padding-right: 0 !important;
    }
}